Test-Command: /usr/share/cargo/bin/cargo-auto-test static_assertions 1.1.0 --all-targets --all-features
Features: test-name=@
Depends: dh-cargo (>= 18), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test static_assertions 1.1.0 --all-targets --no-default-features
Features: test-name=librust-static-assertions-dev
Depends: dh-cargo (>= 18), @
Restrictions: allow-stderr, skip-not-installable
