Source: rust-static-assertions
Section: rust
Priority: optional
Build-Depends: debhelper (>= 11),
 dh-cargo (>= 18),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Uploaders:
 kpcyrd <git@rxv.cc>
Standards-Version: 4.4.1
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/static-assertions]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/static-assertions
Homepage: https://github.com/nvzqz/static-assertions-rs
X-Cargo-Crate: static_assertions

Package: librust-static-assertions-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends}
Provides:
 librust-static-assertions+default-dev (= ${binary:Version}),
 librust-static-assertions+nightly-dev (= ${binary:Version}),
 librust-static-assertions-1-dev (= ${binary:Version}),
 librust-static-assertions-1+default-dev (= ${binary:Version}),
 librust-static-assertions-1+nightly-dev (= ${binary:Version}),
 librust-static-assertions-1.1-dev (= ${binary:Version}),
 librust-static-assertions-1.1+default-dev (= ${binary:Version}),
 librust-static-assertions-1.1+nightly-dev (= ${binary:Version}),
 librust-static-assertions-1.1.0-dev (= ${binary:Version}),
 librust-static-assertions-1.1.0+default-dev (= ${binary:Version}),
 librust-static-assertions-1.1.0+nightly-dev (= ${binary:Version})
Description: Compile-time assertions to ensure that invariants are met - Rust source code
 This package contains the source for the Rust static_assertions crate, packaged
 by debcargo for use with cargo and dh-cargo.
